<!DOCTYPE html>
<html>
	<head>
		<meta charset='UTF-8'>
		<title>Marko server side rendering demo</title>
	</head>

	<body>
		<h1>Marko Custom Tags Demo</h1>		
		<app-hello name='frank' message-count='30'/>
		<app-hello message-count='1' />
		<!--<app-hello message-count='1' invalid='foo-bar'/>-->

	</body>


</html>